<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}to-do-app{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <header>
        <div class="container">
            <h1>My To-Do App</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('tasks.view_task') }}">Home</a></li>
                    {% if 'user' in session %}
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %}
            <!-- Content will be injected here from child templates -->
            {% endblock %}
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2023 My To-Do App</p>
        </div>
    </footer>
</body>
</html>
